*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #272727;
}

.pulse {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #58ea00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    position: relative;
}

.pulse::before ,
.pulse::after {
    content: "";
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    border: 2px solid #58ea00;
    border-radius: 50%;
    animation: pulsing 1.5s linear infinite;
}

.pulse::after {
    animation-delay: 0.5s;
}

@keyframes pulsing {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}